.track-search-container {
	padding: 1em;
}

.track-search-container input {
	background: #fff;
	width: 120px;
	border-radius: 10px;
	border: none;
  font-family: 'Montserrat', Georgia, sans-serif;
	padding: 4px 4px 4px 10px;
	outline: none;
}

.search {
	margin-left: 5px;
	cursor: pointer;
	cursor: pointer;
  color: white;
  font-size: 15px;
}

#search{
  background-image: url(https://image.flaticon.com/icons/svg/149/149852.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

button {
	background: none;
	border: none;
	outline: none;
}
