@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Monoton');
*{
  font-family: 'Montserrat', Georgia, sans-serif;
}

body {
    font-family: 'Montserrat', Georgia, sans-serif;
    background: rgb(24, 24, 24) !important;
    color: #fff !important;
    max-width: 1400px;
    margin: 0 auto !important;
    padding: 0 !important;
}

.app-container {
  display: flex;
  position: relative;
}

/*----HEADER------*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
	display: flex;
	justify-content: space-between;
	background: rgb(24, 24, 24);
}

.main-section {
  width: 900px;
  position: relative;
  left: 200px;
  padding: 0 10px;
}

.main-section-container {
  position: relative;
  top: 50px;
  padding-bottom: 100px;
}

/*----PLAYLIST CARD----*/
.setPlaylist-module {
  font-size: 80%;
  padding: 1.5rem;
  margin: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #eaeaea;
  width: 11em;
  color: black;
}

.setPlaylist-module__header {
  margin-bottom: 1rem;
  color: black;
}
.setPlaylist-module__movie {
  width: 75px;
  height: 115px;
  color: black;
}

.setPlaylist-module__image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.setPlaylist-module__code {
  border-left:1px solid #000;
  height: 3em;
}
.setPlaylist-module__image--placeholder {
  width: 50px;
  height: 50px;
  background-color: #fafafa;
  text-align: center;
  border: 2px dotted #cacaca;
  border-radius: 5px;
  padding-top: 30px;
}
